.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9999;
  transform: scale(0);
  transition: 0.2s linear;
  overflow: auto;
  display: flex;
  padding: 30px;
  background: rgba($main-color,0.7);

  &.active {
    transform: scale(100%);
  }

 

  &__container {
   
  }

  &__body {
    position: relative;
    z-index: 9999;
    max-width: 650px;
    // height: 100%;
    padding: 30px;
    background: $bg-color;
    border-radius: $radius-md;
    margin: auto;
    // overflow: auto;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    @include main-gradient-text;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
    font-family: Montserrat;

    line-height: normal;
    @include viewport-md {
      font-size: 38px;
    }
  }
  &__close {
    width: 32px;
    height: 32px;
    position: relative;
    margin-left: 30px;
    cursor: pointer;
   

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 7px;
      right: 50%;
      height: 20px;
    }
    &::before {
      border-right: 2px solid #ec6f5d;
      transform: rotate(-45deg);
    }
    &::after {
      border-left: 2px solid #ec6f5d;
      transform: rotate(45deg);
    }
  }

  &__form-inner {
    display: flex;
    flex-direction: column;

    & input {
      height: 56px;
    }
    & input,
    & textarea {
      padding: 15px;
      border-radius: 8px;
      background: #fff;
      border: none;
      outline: none;
    }

    & input::placeholder,
    & textarea::placeholder {
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      color: #b3b3ba;
    }

    & input:focus,
    & textarea:focus {
      border: 1px solid $regular-color;
    }

    & input:invalid,
    & textarea:invalid {
      color: #f00;
      border: 1px solid #f00;
    }

    & input:invalid:invalid::placeholder,
    & textarea:invalid::placeholder {
      color: #f00;
    }

    & input:focus::placeholder,
    & textarea:focus::placeholder {
      color: #000;
    }
  }

  &__name {
    margin-bottom: 15px;
  }

  &__message {
    max-height: 130px;
    margin-bottom: 30px;
    overflow: auto;
    resize: none;
  }

  &__subtitle {
    margin-bottom: 15px;
    font-size: 14px;
    color: var(--Grey-Text, #b3b3ba);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &__phone {
    margin-bottom: 15px;
  }

  &__email {
    margin-bottom: 30px;
  }

  &__btn {
    width: 100%;
    @include btn;
  }
}
